# **Titanic**

Titanic is a classic movie about one of the most famous shipwrecks in human history. ðŸš¢

Below is an array filled with real data from 50 of the passengers:

- Passenger id (1 to 50)
- Survived: 0 for no and 1 for yes.
- Passenger class: 1 for Upper, 2 for Middle, 3 for Lower.
- Age: 0-74

In [2]:
import pandas as pd
import numpy as np

In [3]:
passengers = np.array([
   [1, 0, 3, 22],
   [2, 1, 1, 38],
   [3, 1, 3, 26],
   [4, 1, 1, 35],
   [5, 0, 3, 35],
   [6, 0, 3, 18],
   [7, 0, 1, 54],
   [8, 0, 3, 2],
   [9, 1, 3, 27],
  [10, 1, 2, 14],
  [11, 1, 3, 4],
  [12, 1, 1, 58],
  [13, 0, 3, 20],
  [14, 0, 3, 39],
  [15, 0, 3, 14],
  [16, 1, 2, 55],
  [17, 0, 3, 2],
  [18, 1, 2, 12],
  [19, 0, 3, 31],
  [20, 1, 3, 8],
  [21, 0, 2, 35],
  [22, 1, 2, 34],
  [23, 1, 3, 15],
  [24, 1, 1, 28],
  [25, 0, 3, 8],
  [26, 1, 3, 38],
  [27, 0, 3, 2],
  [28, 0, 1, 1],
  [29, 1, 3, 5],
  [30, 0, 3, 18],
  [31, 0, 1, 40],
  [32, 1, 1, 70],
  [33, 1, 3, 33],
  [34, 0, 2, 66],
  [35, 0, 1, 28],
  [36, 0, 1, 42],
  [37, 1, 3, 5],
  [38, 0, 3, 18],
  [39, 0, 3, 18],
  [40, 1, 3, 14],
  [41, 0, 3, 40],
  [42, 0, 2, 27],
  [43, 0, 3, 29],
  [44, 1, 2, 0],
  [45, 1, 3, 19],
  [46, 0, 3, 33],
  [47, 0, 3, 14],
  [48, 1, 3, 22],
  [49, 0, 3, 41],
  [50, 0, 3, 18]
])

In [8]:
df=pd.DataFrame(passengers,columns=["ID","SURVIVED","CLASS","AGE"])
df

    ID  SURVIVED  CLASS  AGE
0    1         0      3   22
1    2         1      1   38
2    3         1      3   26
3    4         1      1   35
4    5         0      3   35
5    6         0      3   18
6    7         0      1   54
7    8         0      3    2
8    9         1      3   27
9   10         1      2   14
10  11         1      3    4
11  12         1      1   58
12  13         0      3   20
13  14         0      3   39
14  15         0      3   14
15  16         1      2   55
16  17         0      3    2
17  18         1      2   12
18  19         0      3   31
19  20         1      3    8
20  21         0      2   35
21  22         1      2   34
22  23         1      3   15
23  24         1      1   28
24  25         0      3    8
25  26         1      3   38
26  27         0      3    2
27  28         0      1    1
28  29         1      3    5
29  30         0      3   18
30  31         0      1   40
31  32         1      1   70
32  33         1      3   33
33  34         0      2   66
34  35         0      1   28
35  36         0      1   42
36  37         1      3    5
37  38         0      3   18
38  39         0      3   18
39  40         1      3   14
40  41         0      3   40
41  42         0      2   27
42  43         0      3   29
43  44         1      2    0
44  45         1      3   19
45  46         0      3   33
46  47         0      3   14
47  48         1      3   22
48  49         0      3   41
49  50         0      3   18

Your job as a **data analyst** is to find the following information:

What is the shape of this array?

In [11]:
df.shape

(50, 4)

What is the average age of the passengers?

In [12]:
print("The average age of passengers is : ",df['AGE'].mean())

The average age of passengers is :  25.5

What is the passenger number of the oldest passenger? Who is the youngest?

In [14]:
df.columns

Index(['ID', 'SURVIVED', 'CLASS', 'AGE'], dtype='object')

In [15]:
print(" The ID of oldest passenger is:" ,df['AGE'].idxmax())

 The ID of oldest passenger is: 31

In [17]:
print(" The youngest passenger is:" ,df.loc[df['AGE'].idxmin(),'ID'])

 The youngest passenger is: 44

What is the percentage of folks that survived?

In [22]:
total_passengers = len(df['SURVIVED'])
total_survived = df['SURVIVED'].sum()
percentage_survived = (total_survived / total_passengers) * 100
print(f"Percentage survived: {percentage_survived:.2f}%")

Percentage survived: 44.00%